<!DOCTYPE html>
<html>
    <head>
        <Title>Register Here</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>
       <div class="container">
          <div class="form" style="width: 40%; margin: auto">
            <form class="Register_form" action="/register_auth" method="POST">
                {% csrf_token %}
              <div class="row main">
                <div class="panel-heading" style="margin: auto">
                  <div class="panel-title text-center">
                    <h1 class="title">SMAC Tech Labs</h1>
                    <hr/>
                  </div>
                </div>
                <div class="main-login main-center">
                  <div class="form-horizontal">

                    <div class="form-group">
                      <label for="name" class="cols-sm-2 control-label">Your Name</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="Name" id="Name"  placeholder="Enter your Name"/>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Id</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="far fa-id-badge" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="Id" id="Id"  placeholder="Enter your Id"/>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Subject</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-book" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="Subject" id="Subject"  placeholder="Enter your Subject"/>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Role</label>
                        <div class="cols-sm-10">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user-tie" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="Role" id="Role"  placeholder="Enter your Role"/>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                      <label for="username" class="cols-sm-2 control-label">Your Department</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="far fa-building" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="Dept" id="Dept"  placeholder="Enter your Department"/>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="username" class="cols-sm-2 control-label">Username Or Email</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                          <input type="text" class="form-control" name="Uname_Email" id="Uname_Email"  placeholder="Enter your Username Or Email"/>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="password" class="cols-sm-2 control-label">Password</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                          <input type="password" class="form-control" name="Password" id="Password"  placeholder="Enter your Password"/>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                      <div class="cols-sm-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                          <input type="password" class="form-control" name="Confirm" id="Confirm"  placeholder="Confirm your Password"/>
                        </div>
                      </div>
                    </div>

                    <div class="form-group ">
                      <button type="submit" class="btn btn-primary btn-lg btn-block login-button" id="SubmitButton">Register</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
