<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/haha.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <link rel="stylesheet" href="static/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="static/ct-navbar.css" type="text/css" />
    <link rel="stylesheet" href="static/pe-icon-7-stroke.css" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  </head>
  <body>



    <div id="wrapper">

       <!-- Sidebar -->
       <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
           <ul class="nav sidebar-nav">
               <li class="sidebar-brand">
                   <a href="#">
                      {{name}}
                   </a>
               </li>
               <li>
                   <a href="#">Enter Results</a>
               </li>
               <li>
                   <a href="#">View Results</a>
               </li>
               <li>
                   <a href="#">Attandance</a>
               </li>
               <li>
                   <a href="#">Remarks</a>
               </li>
           </ul>
       </nav>
       <!-- /#sidebar-wrapper -->
       <div class="nav topnav">
         <p id="paragraph">
           <a href="#">Home</a>
           <a href="#">About Us</a>
           <a href="#" id="haha">Contact Us</a>
           <span class="name-span">Hello, {{name}}</span>
           <i class="fas fa-user-circle dropdown dropleft myIcon"></i>
         </p>
       </div>
       <!-- Page Content -->
       <div id="page-content-wrapper">
           <button type="button" onclick="buttonclick()" class="hamburger is-closed" data-toggle="offcanvas">
             <span class="hamb-top"></span>
             <span class="hamb-middle"></span>
             <span class="hamb-bottom"></span>
           </button>
           <div class="container">
             <div class="content">
                <h2><label for="">NAME : </label>{{name}}</h2>
                <h2><label for="">ID : </label>{{id}}</h2>
                <h2><label for="">EMAIL : </label>{{username}}</h2>
                <h2><label for="">SUBJECT : </label>{{subject}}</h2>
                <h2><label for="">ROLE : </label>{{role}}</h2>
                <h2><label for="">DEPT : </label>{{dept}}</h2>

             </div>
           </div>
       </div>





    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script>



        $(document).ready(function () {
  var trigger = $('.hamburger'),
  overlay = $('.overlay'),
  isClosed = false;

  trigger.click(function () {
  hamburger_cross();
  });

  function hamburger_cross() {

  if (isClosed == true) {
    overlay.hide();
    trigger.removeClass('is-open');
    trigger.addClass('is-closed');
    isClosed = false;
    document.getElementById("paragraph").style.marginRight = "10px";
  } else {
    overlay.show();
    trigger.removeClass('is-closed');
    trigger.addClass('is-open');
    isClosed = true;
  }
  }

  $('[data-toggle="offcanvas"]').click(function () {
    $('#wrapper').toggleClass('toggled');
  });
  });


  function buttonclick(){
    document.getElementById("paragraph").style.marginRight = "220px";
  }



    </script>






  </body>
</html>
